*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.bg-image{
    position: relative;
    background-image: url('header2.jpg');
    padding: 150px 0;
    background-size: cover;
    background-position: center;
}
.bg-image p{
    font-size: 22px;
    font-style: italic;
}
.bg-image h1{
    font-size: 40px;
    text-transform: uppercase;
}
.bg-image input{
    padding: 22px 20px;
    height: 46px;
}

.bg-image button{
    /* padding: 22px 20px; */
    height: 46px;
}

ul.list_data{
    padding: 12px;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    align-items: center;
}

ul.list_data li::marker{
    font-size: 0;
}

ul.list-hading li span{
    font-size: 16px;
font-weight: 600;
text-transform: uppercase;
}

ul.list_data li.track{
    width: 35%;
    float: left;
}
ul.list_data li.artist, ul.list_data li.album{
    width: 25%;
    float: left;
}
ul.list_data li.duration{
    width: 15%;
    float: left;
    text-align: right;
}

.set-list li.track img{
    width: 10%;
    padding-right: 10px;
    float: left;
}

.list-hading li.track span{
    padding-left: 50px;
}

.set-list li.track span{
    font-weight: 600;
    font-size: 16px;
    float: left;
    width: 80%;

}

.set-list li.artist span{
    font-size: 14px;
    color: #919191;
}
ul.set-list:hover{
    background-color: #f9f9f9;
}
#getlyrics{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

#setLyrics{
    display: none;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

#lyrics-hide{
    justify-content: center;
    text-align: center;
    display: none;
}
#lyrics-hide li span{
  padding: 0 !important;
}

footer{
    position: fixed;
    bottom: 0;
    width: 20%;
    right: 0;
}

footer a{
    color: black;
}


.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    margin: 100px auto;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }